* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    padding: 0px 0px;
}
  
.container {
    max-width: 0px;
    margin: 0 center;
}
  
h1 {
    text-align: center;
    margin-bottom: 0px;
    color: #333;
    font-weight: 600;
}

.swiper {
    display: block;
    width: 100vw;
    height: 100vh;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(201, 33, 33, 0.867);
}
  
.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    color: rgb(240, 240, 240);
}

.swiper-wrapper {
    background: linear-gradient(to top, #003154, transparent);
}
  
.slide-content {
    padding: 30px 20px;
    width: 100%;
}

  
.slide-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
  
.slide-content p {
    font-size: 1.1rem;
    max-width: 80%;
    margin-bottom: 20px;
}
  
.slide-content .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #5e72e4;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s;
}
  
.slide-content .btn:hover {
    background-color: #4050b5;
}
  
.swiper-button-next, .swiper-button-prev {
    color: white;
    background-color: #00315400;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    text-shadow: #00315439 1px 3px 1px;
    filter: drop-shadow(#003154ec 1px 5px 1px);
    box-shadow: 1px 3px 40px 4px rgba(0, 49, 84, 0); /* Efecto de difuminado */
}
  
.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
  
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px;
    font-weight: bold;
}
  
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: white;
    opacity: 0.7;
}
  
.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #5e72e4;
}
